.page-template-about .site-main {
  padding-top: 0;
  padding-bottom: 0;
}

.about-full-width {
    /*background: #D8BFD8;*/
    position: relative;
}
.about-full-width2 {

  z-index: -999;

  @media $medium {

  }
  @media $large {

  }
  @media $ex-large {

  }
}





.bg-about-1 {
background: url("../and-also-too/css/images/about-background-1.png");
  background-position: 45% 100%;
    background-size: cover;
  @media $medium {

      background-size: 105% 120%;
  }
  @media $large {
      background-size: cover;

background-size: 105% 100%;
  }
  @media $ex-large {
      background-size: cover;

background-size: 105% 100%;
  }
}


.overlay-about-1 {
    padding-top: 32%;
    padding-bottom: 20%;
  @media $medium {
    padding-top: 17%;
    padding-bottom: 17%;
  }
  @media $large {
    padding-top: 13.2%;
    padding-bottom: 13.2%;
  }
  @media $ex-large {
    padding-top: 13.2%;
    padding-bottom: 13.2%;
  }
}
.overlay-about-2 {
    padding-top: 15%;
    padding-bottom: 15%;
  @media $medium {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  @media $large {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  @media $ex-large {
    padding-top: 19%;
    padding-bottom: 19%;
  }
}

.about-title-main {
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 4px;
  margin-bottom: 2px;
  color: white;
  display: none;
  @media $large {
  text-align: left;
  display: block;
  }
  @media $ex-large {
    text-align: left;
    display: block;
  }
}

.outer-content-about-mobile {

    width: 100%;
    margin: 0 auto;
    @media $medium {
        width: 100%;
    }
    @media $large {
        width: 85.2%;
    }
    @media $ex-large {
        width: 85.2%;
        max-width: 90000000px;
    }
}

.about-background {
    position: absolute;
    z-index: -1;
}

.about-grid-item {
    margin-bottom: 10px;
}

.shift-title-main {
    text-transform: uppercase;

    @media $medium {


    }
    @media $large {


    }
    @media $ex-large {


    }

}
.about-grid-item[style] {
    width: 100%!important;
    @media $medium {
    width: 100%!important;
    }
    @media $large {
    width: 50%!important;
    }
    @media $ex-large {
      width: 50%!important;
    }
}


.about-blank1 {
  display: none;
  @media $large {
  display: block;
  }
  @media $ex-large {
      display: block;
  }

}
.about-group1[style] {
  position: static!important;
    left: 0%!important;
    @media $medium {
position: static!important;
    }
    @media $large {
      position: absolute!important;
      top: -17%!important;
      left: 50%!important;

    }
    @media $ex-large {
      position: absolute!important;
      top: -18%!important;
      left: 50%!important;
    }
}
.about-group-2[style] {
    position: static!important;
      left: 0%!important;
    @media $medium {
      top: 0%!important;
    }
    @media $large {
      position: absolute!important;
      top: 5%!important;

    }
    @media $ex-large {
      position: absolute!important;
      top: 5%!important;

    }
}
.about-group3[style] {
    position: static!important;
      left: 0%!important;
    @media $medium {
      top: 0%!important;

    }
    @media $large {
      position: absolute!important;
      top: 30%!important;
    left: 50%!important;
    }
    @media $ex-large {
      position: absolute!important;
      top: 30%!important;
    left: 50%!important;
    }
}
.about-group4[style] {
    position: static!important;
      left: 0%!important;
    @media $medium {
      top: 0%!important;

    }
    @media $large {
      position: absolute!important;
      top: 73%!important;

    }
    @media $ex-large {
      position: absolute!important;
      top: 73%!important;

    }
    @media $ex-large-background {
      position: absolute!important;
      top: 76.5%!important;

    }

}
.about-group5[style] {
    position: static!important;
      left: 0%!important;
    @media $medium {
      top: 0%!important;

    }
    @media $large {
      position: absolute!important;
      top: 70%!important;
    left: 50%!important;
    }
    @media $ex-large {
      position: absolute!important;
      top: 72%!important;
    left: 50%!important;
    }
}
.eee {
  position: relative;
  top: -300px;
  @media $large {
    top: -260px;
  }
  @media $ex-large {
    bottom: 280px;
  }
}
.page-template-about .entry-content {
  @media $large {
  margin-bottom: -260px;
  }
  @media $ex-large {
  margin-bottom: -280px;
  }
}

.about-contact[style] {
    position: static!important;
    @media $medium {
      top: 0%!important;

    }
    @media $large {
      position: absolute!important;
      top: 90%!important;

    }
    @media $ex-large {
      position: absolute!important;
      top: 70%!important;

    }
}

.about-button {
      border: 1px solid;
      font-size: 16px;
      font-family: Montserrat;
      line-height: 1;
      letter-spacing: 4px;
      padding: 1.3em 2.7em 1.3em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      width: 67%;
      float: right;
      margin-top: 1.2rem;
      @media $medium {
      font-size: 16px;
      padding: 1.3em 1em 1.3em;
      width: 50%;
    }
}

.shift-title-1, .shift-title-2, .shift-title-3, .shift-title-4 {
  color: $black;
  font-family: Montserrat;
  font-weight: 700;
    font-size: 18px;
  @media $medium {
    font-size: 18px;
  }
  @media $large {
    font-size: 25px;
  }
  @media $ex-large {
    font-size: 25px;
    padding: 0.4em 0;
  }
}
.shift-text-1, .shift-text-2, .shift-text-3, .shift-text-4 {
  color: $black;
  font-family: Vollkorn;
  font-weight: 400;
  @media $medium {
    font-size: 22px;
  }
  @media $large {
    font-size: 22px;
  }
  @media $ex-large {
    font-size: 22px;
  }
}


.about-title-main-mobile {
  top: -210px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 4px;
  margin-bottom: 2px;
  color: white;
  @media $medium {
  text-align: center;
  top: -350px;
  }
  @media $large {
  display: none;
  }
  @media $ex-large {
    display: none;
  }
}
.shift-title-1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    top: -240px;
    position: relative;
    @media $medium {
      top: -200px;
    width: 82.6%;

    }
    @media $large {
      top: 0;
    width: 82.6%;
      padding-bottom: 0.8rem;
    }
    @media $ex-large {
      top: 0;
    width: 82.6%;
    padding-bottom: 1.1rem;

    }
}
.shift-text-1 {
  color: $white;
  position: relative;
  top: -220px;
  font-size: 2.2rem;
    @media $medium {
font-size: 2.2rem;
        top: -180px;
    width: 100%;
    }
    @media $large {

        top: 0px;
    width: 82.6%;
    font-size: 2.2rem;
    line-height: 1.4;
    padding-bottom: 2.2rem;
    }
    @media $ex-large {
        top: 0px;

    width: 82.6%;
    font-size: 2.2rem;
    line-height: 1.4;
    padding-bottom: 2.8rem;
    }

}
.shift-image-1 {
    position: relative;
    top: -160px;
    width: 100%;
    @media $medium {
      top: -120px;
    width: 100%;
    }
    @media $large {
    width: 82.6%;
    top: 0;
    }
    @media $ex-large {
    width: 82.6%;
    top: 0;
    }

}
.shift-icon-1 {
    height: 5px;
    position: absolute;
    bottom: 6%;
    right: 50%;

    @media $medium {
        display: none;

    }
    @media $large {
        display: none;

    }
    @media $ex-large {
        display: none;

    }
}

.shift-icon-1-medium {
    display: none;
        text-align: right;
    @media $medium {
        display: block;
        width: 84.6%;
    }
    @media $large {
        display: block;
          width: 84.6%;
    }
    @media $ex-large {
        display: block;

        width: 84.6%;
    }
    img {
      width: 20%;
    }
}
.about-group-2{
    position: relative;
}

.shift-title-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    @media $medium {
      text-align: right;
      padding: 0 1.8em 1.6em 0.7em;
    }
    @media $large {
    text-align: right;
    padding: 0 1.8em 1.6em 0.7em;
    }
    @media $ex-large {
      text-align: right;
      padding: 0 1.8em 1.6em 0.7em;
    }
}
.shift-text-2 {
    @media $medium {
  width: 82.6%;
  padding-bottom: 2em;

    }
    @media $large {
  width: 82.6%;
  text-align: right;
  padding-bottom: 2em;
    }
    @media $ex-large {
  width: 82.6%;
  text-align: right;
  padding-bottom: 2em;
    }

}
.shift-image-2 {
    position: relative;
    @media $medium {


    }
    @media $large {


    }
    @media $ex-large {
      top: 90px;

    }

}
.shift-icon-2 {
    height: 5px;
    position: absolute;
    bottom: 6%;
    right: 50%;

    @media $medium {
        display: none;

    }
    @media $large {
        display: none;

    }
    @media $ex-large {
        display: none;

    }
}
.shift-icon-2-medium {
    display: none;
        text-align: left;
    @media $medium {
        display: block;
          padding-left: 16.4%;
    }
    @media $large {
        display: block;
            padding-left: 16.4%;
    }
    @media $ex-large {
        display: block;
        padding-left: 16.4%;
    }
    img {
      width: 20%;
    }
}
.shift-title-3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    @media $medium {


    }
    @media $large {

    padding: 0 0.7em 1.6em 1.8em;
    }
    @media $ex-large {
      padding: 0 0.7em 1.6em 1.8em;


    }

}
.shift-text-3 {
    @media $medium {

  padding-left: 17.6%;
    }
    @media $large {

  padding-left: 17.6%;
    }
    @media $ex-large {

padding-left: 17.6%;
    }

}
.shift-icon-3 {
    height: 5px;
    position: absolute;
    bottom: 6%;
    right: 50%;

    @media $medium {
        display: none;

    }
    @media $large {
        display: none;

    }
    @media $ex-large {
        display: none;

    }
}
.shift-icon-3-medium {
    display: none;
        text-align: right;
    @media $medium {
        display: block;
        width: 84.6%;
    }
    @media $large {
        display: block;
          width: 84.6%;
    }
    @media $ex-large {
        display: block;

        width: 84.6%;
    }
    img {
      width: 20%;
    }
}
.shift-title-4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      @media $medium {
        text-align: right;
        padding: 0 1.4em 1em 0.7em;
      }
      @media $large {
      text-align: right;
      padding: 0 1.8em 1em 0.7em;
      }
      @media $ex-large {

        align: right;
        text-align: right;
        padding: 0 1.8em 1em 0.7em;
      }
  }
.shift-image-3 {
    @media $medium {


    }
    @media $large {
    top: 30%;

    }
    @media $ex-large {
top: 30%;

    }

}
.shift-text-4 {
    @media $medium {
text-align: right;
padding-right: 17.6%;
    }
    @media $large {
      text-align: right;
padding-right: 17.6%;
padding-top: 4.2rem;
color: $white;

    }
    @media $ex-large {
      text-align: right;
padding-right: 17.6%;
padding-top: 4.2rem;
color: $white;

    }

}
