/*Blog CSS*/
.blog-flex {
    margin-bottom: 90px;

    @media $medium {
        display: flex;
        justify-content: space-around;
    }
    @media $large {
        display: flex;
        justify-content: space-around;
    }
    @media $ex-large {
        display: flex;
        justify-content: space-around;
    }
}

.date-container {
  padding-bottom: 0.6rem;
  padding-top: 1.2rem;
  @media $medium {
      padding-bottom: 1.6rem;
      padding-top: 0rem;
  }
  @media $large {
      padding-bottom: 2rem;
      padding-top: 0rem;
  }
  @media $ex-large {
      padding-bottom: 2rem;
      padding-top: 0rem;
      padding-left: 32%;
  }
}

.featured-image {}

.blog-entry-meta {
    /*might combine with general entry meta if it doesn't conflict*/
    display: block;;

    @media $medium {
        display: none;
    }
    @media $large {
        display: none;
    }
    @media $ex-large {
        display: none;
    }
}
.blog-entry-meta-medium {
    /*might combine with general entry meta if it doesn't conflict*/
    display: none;
    @media $medium {
        display: block;
        flex: 0 0 auto;
        width: 16%;
    }
    @media $large {
        display: block;
        flex: 0 0 auto;
        width: 15.45%;
    }
    @media $ex-large {
        display: block;
        flex: 0 0 auto;
        width: 15.45%;
    }
}

.blog-date-num, .blog-date-month, .blog-date-year {
    text-transform: uppercase;
    font-weight: 700;
    font-family: montserrat;
    line-height: 1.4;
    /*display: block;*/
    @media $medium {
        display: block;
    }
    @media $large {
        display: block;
    }
    @media $ex-large {
        display: block;
    }
}

.blog-date-num {
  color: $sitePurple;
  font-size: 2.6rem;
  line-height: 0.8;
  letter-spacing: 3px;
  @media $medium {
    font-size: 5.4rem;
    line-height: 0.8;
  }
  @media $large {
  font-size: 6rem;
  line-height: 0.8;
  letter-spacing: 2px;
    padding-bottom: 0.2rem;
  }
  @media $ex-large {
    font-size: 6rem;
    line-height: 0.8;
      padding-bottom: 0.2rem;
  }
}
.blog-date-month {
  color: $sitePurple;
  font-size: 2.6rem;
    letter-spacing: 3px;
  @media $medium {
font-size: 2.5rem;
line-height: 1.2;
  }
  @media $large {
font-size: 3.0rem;
line-height: 1.2;
  }
  @media $ex-large {
    font-size: 3.0rem;
line-height: 1.2;
  }
}
.blog-date-year {
  color: $sitePurple;
  font-size: 2.6rem;
  letter-spacing: 2px;
  @media $medium {
    color: $siteTeal;
  font-size: 2.5rem;
  line-height: 1.1;
  }
  @media $large {
    color: $siteTeal;
  font-size: 3.0rem;
  line-height: 1.1;
  }
  @media $ex-large {
    color: $siteTeal;
    font-size: 3.0rem;
    line-height: 1.2;
  }
}
.blog-category {
  font-family: montserrat;
  color: $siteTeal;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  @media $medium {
    color: $sitePurple;
  font-size: 1.4rem;
  }
  @media $large {
    color: $sitePurple;
  font-size: 1.6rem;
  }
  @media $ex-large {
    color: $sitePurple;
    font-size: 1.6rem;
    padding-left: 32%;
  }
  a {
    color: $sitePurple;
      text-decoration: none;
  }
  a:hover {
    color: $siteTeal;
      text-decoration: none;
  }
}

.blog-content {
  width: 100%;
    @media $medium {
        flex: 0 0 auto;
          width: 84%;
    }
    @media $large {
        flex: 0 0 auto;
          width: 69.1%;
    }
    @media $ex-large {
        flex: 0 0 auto;
          width: 69.1%;
    }
    h3 {
       letter-spacing: 1px;
       line-height: 1.2;
       font-size: 2.8rem;
       font-style: bold;
       font-family: montserrat;
       text-transform: uppercase;
       margin: 1.3rem 0 0;
       color: $sitePurple;
       @media $medium {
         margin: 2.2rem 0 0.2rem;
       }
       @media $large {
         margin: 1.8rem 0 0.2rem;
       }
       @media $ex-large {
         margin: 2.2rem 0 0.2rem;
       }
    }

    a {
      text-decoration: none;
      color: $sitePurple;
    }
    a:hover {
      color: $siteTeal;
    }
    p {
      	margin-top: 0;
    }
}

.blog-content .read-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.1rem;
    color: $siteTeal;
    float: right;
    letter-spacing: 1px;
    @media $medium {
    font-size: 1.8rem;
    float: right;
    }
    @media $large {
    font-size: 2.1rem;
    float: right;
    }
    @media $ex-large {
      font-size: 2.1rem;
      float: right;
    }
}
.read-link a {
    color: $siteTeal;
}
.read-link a:hover {
    color: $sitePurple;
}


.bempty {
  width:0%;
 height:10px;
 @media $medium {

       width: 0%;
 }
 @media $large {
       width: 15.45%;
 }
 @media $ex-large {

       width: 15.45%;
 }
}
.blog-footer-flex {
    border-top: solid green 1px;
    padding-top: 2rem;
    display: flex;
}
.blog-next-post, .blog-previous-post {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Montserrat;
}
.blog-next-post {
    flex: 1;
}
.blog-previous-post {
    text-align: right;
    flex: 1;
}
.blog-previous-post .fa-arrow-circle-right, .blog-next-post .fa-arrow-circle-left {
  color: $siteTeal;
}
.blog-social-title {
  font-family: Montserrat;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    color: $siteTeal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blog-social-links {
    text-align: center;
    flex: 2;
    font-size: 1.8rem;
}
.blog-social-links .fa {
    padding: 0 0.5rem;
    color: $siteTeal;
}
