.contact-content {
    /*same widths as site-content(nav-content)*/
    width: 87%;
    margin: 0 auto;

    @media $medium {
        display: flex;
        width: 92%;
    }
    @media $large {
        display: flex;
        width: 92%;
    }
    @media $ex-large {
        display: flex;
        width: 92%;
    }
}
.contact-col-left {
    /*flex: 1;*/
}
.contact-col-right {
    /*flex: 1;*/
}

/*.contact-map {
    max-width: 500px;
    max-height: 750px;
}

.contact.map img {
    width: 100%;
}*/

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
