.contact-content {
    /*same widths as site-content(nav-content)*/
    width: 87%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 30px;

    @media $medium {
        display: flex;
        width: 92%;
    }
    @media $large {
        display: flex;
        width: 92%;
    }
    @media $ex-large {
        display: flex;
        width: 76%;
    }
}
.contact-col-left {
    /*flex: 1;*/
    width: 60%;
    margin: 1rem 2rem;
}
.contact-col-right {
    margin: 1rem 2rem;
    padding-bottom: 33%;
}
.contact-col-right > .page-title {
    text-align: left;
    color: $sitePurple;
}
.contact-map {
    max-width: 650px;
    /*max-height: 891px;*/
    min-width: 300px;
    /*min-height: 400px;*/
    /*padding-bottom: 33%;*/
}

.contact-form {
  width: 70%;
}
.contact-address {
  font-family: Vollkorn;
  span {
    display: block;
  }

  font-size: 2rem;
}

#wpgmza_map[style] {
    height: auto !important;
    min-height: 700px;
    /*min-height: 200px;*/
    /*position: static !important;*/

}
/*maintain aspect-ratio*/
.wrapper {
	position: relative;
	width: 100%; /* <-- just a default, can be anything. */
}

.three-by-two.aspect-ratio {
    padding-bottom: 66.666%
}
.four-by-three.aspect-ratio {
    padding-bottom: 75%
}
.sixteen-by-nine.aspect-ratio {
    padding-bottom: 56.25%
}
.map-aspect {
    padding-bottom: 33.33%;
}

.content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
	padding: 0 24px; /* Optional padding for content area */
}


/*
	The classes above have all of the aspect ratio magic we need.
	They can be reused on any element.
	Below are some element-specific styles
*/

.half {
	width: 50%;
	float: left;
	background: beige;
}


/* Positioning for the main box */
.main-box {
    width: 80%;
    margin: 5% auto;
}

/* Styles for the content in the main box */
.main-box > .content {
    background: #ffe5e5;
}

.contact-form-section {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: $sitePurple;
  text-transform: uppercase;
    padding: 1rem 0;
}
.contact-form-section > input {
  padding-top: 1.6rem;
}
.contact-form-section button, input[type="button"], input[type="reset"], input[type="submit"] {

  width: 100%;
  color: $siteTeal;
}
