/*Header*/

.site-header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
        padding: 2.1em 0;
        background: white;
        border-bottom: 2px solid #787878;
    @media $medium {
        padding: 3em 0;
    }
    @media $large {

        padding: 3em 0;
    }
    @media $ex-large {

        max-width: 900000000px;
        padding: 3em 0;
    }
}
.site-header-home {
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
    padding: 2.1em 0;
    @media $medium {
        padding: 4.5em 0;
    }
    @media $large {

        padding: 4.5em 0;
    }
    @media $ex-large {

        max-width: 900000000px;
        padding: 4.5em 0;
    }
}

.site-header-home .header-content {
    align-items: normal;
  }

.site-content {
    margin-top: 52px;
    @media $medium {
        margin-top: 92px;
    }
    @media $large {
        margin-top: 92px;
    }
    @media $ex-large {
        margin-top: 92px;

    }
}
.site-content-home {
    margin-top: 0;
}



.header-content {
    /*.nav from menu.css*/
    margin: 0 auto;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media $medium {
      width: 92%;
    }
    @media $large {
      width: 92%;
    }
    @media $ex-large {
      width: 92%;
    }
}

.anchor-link {
    text-transform: uppercase;
        @media $medium {
            display: none;
        }
        @media $large {
            display: none;
        }
        @media $ex-large {
            display: none;
        }
    a {
        text-decoration: none;
        margin: 3px;
        font-size: 1.4rem;
        color: $black;
    }
}
.anchor-close {
    display: none;
}
.main-navigation.toggled .anchor-close {
    display: block;
}

.nav-social-medium {
    display: none;
    flex: .3;

    @media $medium {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.7rem;
	}

	@media $large {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.7rem;
	}

	@media $ex-large {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.7rem;
	}
}

.site-content-home .nav-social-medium {
    display: none;
    flex: .3;
    color: #000;

    @media $medium {
        display: flex;
        align-items: baseline;
	}

	@media $large {
        display: flex;
        align-items: baseline;
	}

	@media $ex-large {
        display: flex;
        align-items: baseline;
	}
}

.nav-social-medium .fa {
    padding-left: 0.6em;
    @media $medium {
          padding-left: 0.4em;
    }
    @media $large {
      padding-left: 0.6em;
    }
    @media $ex-large {
      padding-left: 0.6em;
    }
}
.nav-social {
    display: block;
    text-align: left;

    @media $medium {
        display: none;
    }
    @media $large {
        display: none;
    }
    @media $ex-large {
        display: none;
    }
    .fa {
      padding-right: 0.6em;
    }
}
.site-branding-medium {
    display: block;
    flex: none;
    width: 70%;

    @media $medium {
        flex: .6;
    }
    @media $large {
        flex: .6;
    }
    @media $ex-large {
        flex: .6;
    }
}
.site-header-home .site-branding-medium img {
    display: block;
    flex: none;
    width: 12%;

    @media $medium {
        width: 24%;
    }
    @media $large {
        width: 24%;
    }
    @media $ex-large {
        width: 24%;
    }
}

.site-branding {
    width: 35%;
    flex: 3;
    display: none;
    margin-left: 30px;
padding-top: 82px;
}

.main-navigation.toggled .site-branding {
    display: block;

}
.main-navigation.toggled img {
    width: 65%;
    align: right;
}
