.bg-people-intro {
background: url("../and-also-too/css/images/people-landing2.png");
  background-position: 55% 100%;
    background-size: cover;
  @media $medium {
  background-position: 30% 50%;
  }
  @media $large {
  background-position: 25% 30%;
  }
  @media $ex-large {
    background-position: 65% 30%;
  }
}

.overlay-people-intro {
    padding-top: 18%;
    padding-bottom: 8%;
  @media $medium {
    padding-top: 12%;
    padding-bottom: 5.4%;
  }
  @media $large {
    padding-top: 9%;
    padding-bottom: 3%;
  }
  @media $ex-large {
    padding-top: 10.2%;
    padding-bottom: 4.2%;
  }
}


.people-intro-content {
 h1 {
   color: $white;
   	letter-spacing: 1px;
    margin: 0 0 1rem;
    @media $medium {
       margin: 0 0 0.4rem;
    }
    @media $large {
       margin: 0em 0 1.1rem;
    }
    @media $ex-large {
       margin: 0em 0 1.9rem;
    }
 }
}
.people-intro-content .entry-title {
    text-align: left;
}

.landing-person {
  padding-bottom: 1.2rem;
  @media $medium {
    padding-bottom: 1.6rem;
  }
  @media $large {
  padding-bottom: 2.1rem;
  }
  @media $ex-large {
    padding-bottom: 2.6rem;
  }
}
.landing-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fefefe;
  font-family: Montserrat;
  letter-spacing: 1.5px;
  font-weight: 700;
  @media $medium {
    font-size: 1.4rem;
  }
  @media $large {
    font-size: 1.6rem;

  }
  @media $ex-large {
    font-size: 1.9rem;
  }
}
.landing-title {
    color: #232323;
    font-size: 1.5rem;
    font-family: vollkorn;
    @media $medium {
      font-size: 1.4rem;
    }
    @media $large {
      font-size: 1.9rem;
    }
    @media $ex-large {
      font-size: 2.1rem;
    }
}
.landing-bold {
  font-style: bold;
}
.landing-italic {
  font-style: italic;
}

.people-content {
      display: flex;
      flex-direction: column;
    @media $medium {
      justify-content: space-between;
      flex-direction: row;
    }
    @media $large {
      justify-content: space-between;
      flex-direction: row;
    }
    @media $ex-large {
      justify-content: space-between;
      flex-direction: row;
    }
}

.people-name {
  color: $sitePurple;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 1.8rem;
  @media $medium {
      padding-top: 0rem;
  }
  @media $large {
      padding-top: 0rem;
  }
  @media $ex-large {
      padding-top: 0rem;
  }

}
.people-title {
  color: $siteTeal;
  font-style: italic;
  font-family: vollkorn;
  width: 100%;
  font-size: 2.3rem;
  letter-spacing: -.5px;
  padding: 0 0 0.4rem;

  @media $medium {
        font-size: 2.0rem;
          padding: 0 0 1.2rem;
  }
  @media $large {
    font-size: 2.5rem;
      padding: 0 0 1.5rem;
  }
  @media $ex-large {
    font-size: 2.5rem;
    padding: 0 0 1.8rem;
  }
}
.people-description {
  font-family: vollkorn;
  font-size: 1.8rem;
  line-height: 1.3;
  padding-bottom: 0rem;
  @media $medium {
    font-size: 1.7rem;
    line-height: 1.4;
    padding-bottom: 2.2rem;
  }
  @media $large {
    font-size: 1.9rem;
    line-height: 1.4;
    padding-bottom: 2.2rem;
  }
  @media $ex-large {
    font-size: 2.1rem;
    line-height: 1.4;
    padding-bottom: 2.2rem;
  }
}

.people-col1 {
  order: 2;
  @media $medium {
  order: 1;
  }
  @media $large {
  order: 1;
  }
  @media $ex-large {
  order: 1;
  }
}

.people-col2 {
  order: 1;
  @media $medium {
    order: 2;
  }
  @media $large {
  order: 2;
  }
  @media $ex-large {
  order: 2;
  }
}
