
.people-intro-content {
 position: absolute;
 top: 27%;
 @media $medium {
    top: 21%;
 }
 @media $large {
 top: 22%;
 }
 @media $ex-large {
 top: 25%;
 }
}

.landing-person {
  padding-bottom: 12px;
  @media $medium {
    padding-bottom: 24px;
  }
  @media $large {
padding-bottom: 24px;
  }
  @media $ex-large {
    padding-bottom: 24px;
  }
}
.landing-name {
  font-size: 12px;
  text-transform: uppercase;
  color: $white;
  font-family: Montserrat;
  letter-spacing: 2px;
  @media $medium {
    font-size: 18px;
  }
  @media $large {
    font-size: 18px;

  }
  @media $ex-large {
    font-size: 18px;
  }
}
.landing-title {
    font-size: 12px;
    font-family: vollkorn;
    @media $medium {
      font-size: 18px;
    }
    @media $large {
      font-size: 18px;
    }
    @media $ex-large {
      font-size: 18px;
    }
}
.landing-bold {
  font-style: bold;
}
.landing-italic {
  font-style: italic;
}

.people-content {
      display: flex;
      flex-direction: column;
    @media $medium {
      justify-content: space-between;
      flex-direction: row;
    }
    @media $large {
      justify-content: space-between;
      flex-direction: row;
    }
    @media $ex-large {
      justify-content: space-between;
      flex-direction: row;
    }
}

.people-name {
  color: $sitePurple;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.people-title {
  color: $siteTeal;
  font-style: italic;
  font-family: vollkorn;
  width: 100%;
  font-size: 18px;
}
.people-description {
  font-family: vollkorn;
  font-size: 18px;
  line-height: 1.3;
  padding-top: 4px;
  padding-bottom: 18px;
}

.people-col1 {
  order: 2;
  @media $medium {
  order: 1;
  }
  @media $large {
  order: 1;
  }
  @media $ex-large {
  order: 1;
  }
}

.people-col2 {
  order: 1;
  @media $medium {
    order: 2;
  }
  @media $large {
  order: 2;
  }
  @media $ex-large {
  order: 2;
  }
}
