
#stories {

}

.first-story {
    width: 100%;
    @media $medium {
      width: 66.66%;
    }
    @media $large {
      width: 50%;

    }
    @media $ex-large {
      width: 48%;

    }
}
.stories-width {
    width: 48%;
    @media $medium {
      width: 30.8%;
    }
    @media $large {
      width: 22.9%;
      margin-bottom: 10px;

    }
    @media $ex-large {
        width: 23%;
    }
}

.grid-item {
  margin-bottom: 20px;
}

.gutter-sizer {
  width: 3.8%;
  @media $medium {
  }
  @media $large {
    width: 2.7%;
  }
  @media $ex-large {
    width: 2.5%;
  }
}

.grid-sizer { width: 0%;}

.stories-summary {
    margin-bottom: 30px;

    @media $medium {
        margin-bottom: 12px;
    }
    @media $large {
        margin-bottom: 8px;
    }
    @media $ex-large {
        margin-bottom: 8px;

    }
}
.stories-title {
  text-transform: uppercase;
  color: $sitePurple;
    font-family: Montserrat;
  line-height: 1.2;
  font-weight: 700;
    margin: 5px 0 0;
    @media $medium {
    margin: 5px 0 0;
    }
    @media $large {
      margin: 5px 0 0;
    }
    @media $ex-large {
    margin: 5px 0 0;

    }
}
.stories-italic {
  color: $siteTeal;
    font-family: Vollkorn;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
  margin: 0.5rem 0 0;
    @media $medium {
      font-size: 1.4rem;
      margin: 3px 0;
      line-height: 1.2;
    }
    @media $large {
      font-size: 1.5rem;
      margin: 4px 0;
      line-height: 1.3;
    }
    @media $ex-large {
      font-size: 1.5rem;
      margin: 4px 0;
      line-height: 1.3;
    }
}

.item1 {

    /*background: purple;*/
}
.item2 {
    /*background: green;*/

}
.img-container {
    width: 100%;
}
