
#stories {

}

.first-story {
    width: 100%;
    @media $medium {
      width: 64%;
    }
    @media $large {
      width: 49%;

    }
    @media $ex-large {
      width: 48%;
    }
}
.story-width {
    width: 48%;
    @media $medium {
      width: 31%;
    }
    @media $large {
      width: 22%;
      margin-bottom: 10px;

    }
    @media $ex-large {
        width: 22%;
    }
}
.story-summary {
    margin-bottom: 30px;

    @media $medium {
        margin-bottom: 12px;
    }
    @media $large {
        margin-bottom: 8px;
    }
    @media $ex-large {
        margin-bottom: 8px;

    }
}
.story-title {
  text-transform: uppercase;
  color: $sitePurple;
    font-family: Montserrat;
  line-height: 1.2;
  font-weight: 700;
    margin: 5px 0 0;
    @media $medium {
    margin: 5px 0 0;
    }
    @media $large {
      margin: 5px 0 0;
    }
    @media $ex-large {
    margin: 5px 0 0;

    }
}
.story-italic {

  color: $siteTeal;
    font-family: Vollkorn;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
    @media $medium {
      font-size: 1.4rem;
      margin: 3px 0;
      line-height: 1.2;
    }
    @media $large {
      font-size: 1.5rem;
      margin: 4px 0;
      line-height: 1.3;
    }
    @media $ex-large {
      font-size: 1.5rem;
      margin: 4px 0;
      line-height: 1.3;
    }
}

.grid-item {
  margin-bottom: 20px;
}

/*masonry CSS*/
.gutter-sizer { width: 0%;}


.item1 {

    /*background: purple;*/
}
.item2 {
    /*background: green;*/

}
.img-container {
    width: 100%;
}
