html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
	color: $sitePurple;
	font-style: italic;
p {
	font-weight: 400;
	font-size: 2.7rem;
	margin: 3.0rem 2.2rem 2.6rem;
	line-height: 1.2;
	@media $medium {
		font-size: 2.7rem;
		margin: 3.0rem 2.2rem 2.6rem;
		line-height: 1.2;
	}
	@media $large {
		font-size: 3.2rem;
		margin: 3.6rem 4.2rem 3.2rem;
		line-height: 1.3;
	}
	@media $ex-large {
		font-size: 3.2rem;
		margin: 3.8rem 4.2rem 3.4rem;
		line-height: 1.3;
	}
}
}

.story-left-col blockquote p {
  @media $medium {
    font-size: 2.4rem;
    margin: 2.4rem 2.2rem 2.2rem;
    line-height: 1.2;
  }
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
