/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/


.sticky {
	display: block;
}

.hentry {
	margin: 0em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	@media $medium {
		margin: 0;
	}
	@media $large {
		margin: 0em 0 0;
	}
	@media $ex-large {
		margin: 0em 0 0;
	}
}
h1.entry-title, .page-title {
	font-size: 2.8rem;
	font-weight: 700;
	font-family: montserrat;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2.0rem;
	margin: 0;
	@media $medium {
		font-size: 2.8rem;
			padding-bottom: 2.0rem;
	}
	@media $large {
		font-size: 3.2rem;
			padding-bottom: 2.8rem;
	}
	@media $ex-large {
		font-size: 3.2rem;
			padding-bottom: 2.8rem;
	}

}



.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
