/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
h1.entry-title {
	font-size: 2.0rem;
	font-style: bold;
	font-family: montserrat;
	text-transform: uppercase;
	@media $medium {
		font-size: 2.5rem;
	}
	@media $large {
		font-size: 3.5rem;
	}
	@media $ex-large {
		font-size: 3.5rem;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
