.site-main {
  padding-top: 5em;
  padding-bottom: 4em;
  @media $medium {
  padding-top: 6em;
  padding-bottom: 7em;
  }
  @media $large {
  padding-top: 6em;
  padding-bottom: 7em;
  }
  @media $ex-large {
  padding-top: 6em;
  padding-bottom: 7em;
  }
}

.page-template-people .site-main, .home .site-main {
    padding-top: 0em;
}

.page-template-blog .site-main, .home .site-main {
    padding-bottom: 0em;
}


.entry-content {

  }

.outer-content {
    width: 85.2%;
    margin: 0 auto;
    @media $medium {
        width: 85.2%;
    }
    @media $large {
        width: 85.2%;
    }
    @media $ex-large {
        width: 85.2%;
        max-width: 90000000px;
    }
}

.std-content-area {
    width: 75%;
    margin: 0 auto;
    @media $medium {
        width: 66.6%;
    }
    @media $large {
        width: 58.9%;
    }
    @media $ex-large {
        width: 58.9%;
        max-width: 90000000px;
    }
}
.left-content-full, .right-content-full {
    width: 100%;
    @media $medium {
        width: 43%;
    }
    @media $large {
        width: 50%;
    }
    @media $ex-large {
        width: 50%;
    }
}
.left-content-smaller, .right-content-smaller {
  width: 100%;
  @media $medium {
      width: 48.3%;
  }
  @media $large {
      width: 41.3%;
  }
  @media $ex-large {
      width: 41.3%;
  }
}


.background-image {
    //might want this somewhere else.
    @media $medium {}
    @media $large {}
    @media $ex-large {}
}
.row {
  padding-top: 9.6%;
  padding-bottom: 12.6%;
  @media $medium {
    padding-top: 9.6%;
    padding-bottom: 12.6%;
  }
  @media $large {

    padding-top: 9.6%;
    padding-bottom: 12.6%;
  }
  @media $ex-large {
    padding-top: 10.6%;
    padding-bottom: 12.6%;
  }
}

.row-top-pad {
	padding-top: 9%;
	@media $medium {
		padding-top: 6%;
	}
	@media $large {
		padding-top: 5%;
	}
	@media $ex-large {
		padding-top: 5%;
	}
}
.row-bottom-pad {
	padding-bottom: 10%;
	@media $medium {
		padding-bottom: 8%;
	}
	@media $large {
		padding-bottom: 16%;
	}
	@media $ex-large {
		padding-bottom: 16%;
	}
}
.row-tb-pad {
		padding-top: 8%;
		padding-bottom: 8%;
		@media $medium {
			padding-top: 8%;
			padding-bottom: 8%;
		}
		@media $large {
			padding-top: 12.6%;
			padding-bottom: 12.6%;
		}
		@media $ex-large {
			padding-top: 12.6%;
			padding-bottom: 12.6%;
		}
}





.bg img {
    object-position: 57% 50%;
    object-fit: fill;


  @media $medium {
    object-position: 50% 50%;
    object-fit: cover;
    width: 1000px;
    height: 100%;

  }
  @media $large {
    object-fit: cover;
    object-position: 50% 50%;
    width: 1400px;
    height: 100%;


  }
  @media $ex-large {
    object-fit: cover;
    object-position: 10% 10%;
    width: 2900px;
    height: 100%;
    display: block;

  }
  @media $ex-large-background {
    object-fit: cover;
    object-position: 0% 0%;
    width: 2900px;
    height: 100%;

  }
}

.bg {
  margin: 0 auto;

  width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;

  @media $medium {
    max-width: 1100px;
  }
  @media $large {
    max-width: 1400px;

  }
  @media $ex-large {

    max-width: 2200px;
  }

}
