/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	/*equivalent to .mobile-flex on menu.css*/
	background: yellow;
	text-transform: uppercase;
	font-size: 1.3rem;
	text-align: end;
	flex: 1.4;
	display: none;
	    @media $medium {
	    	display: block;
	    }
	    @media $large {
	        display: block;
	    }
	    @media $ex-large {
			display: block;
	    }

}

ul.simple-toggle {
	/*ul.simple-toggle on menu.css*/
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;

	@media $medium {
		display: block;
		flex: 2;
	}

	@media $large {
		display: block;
		flex: 2;
	}

	@media $ex-large {
		display: block;
		flex: 2;
	}
}

ul.simple-toggle li {
	display: inline-block;
    text-align: left;
}

ul.simple-toggle li a {
	display: block;
	padding: 15px 10px;
	text-decoration: none;
}

ul.simple-toggle li:hover > a,
ul.simple-toggle li.focus > a {
	background-color: #ccc;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.main-navigation.toggled {
	display: flex;
	background-color: #F4F4F4;
	box-shadow: 2px 2px 3px #444444;
	position: fixed;
	top: 0;
	right: 3%;
	z-index: 500;
}
.main-navigation.toggled ul {
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.main-navigation.toggled ul li {
	display: block; list-style: none; text-align: center; }
.main-navigation.toggled ul li a {
	display: block;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
.main-navigation.toggled ul a:hover {
	background-color: #ccc;
	color: #fff;
}

.main-navigation.toggled > .nav-social {
	flex: 1;
    /*display: flex;*/
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.7rem;
}

.menu-toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;

	@media $medium {
		display: none;
	}

	@media $large {
	    display: none;
	}

	@media $ex-large {
		display: none;
	    }
}


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
